<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" th:fragment="pizza-infos(food)">
      <h2 th:text="${food.name}"></h2>
      <img th:src="${food.photo_url}" alt="${food.name}" />
      <p th:text="${food.description}"></p>
      <h5 th:text="|Prezzo: ${food.price} €|"></h5>
    </div>
  </body>
</html>
